// COLORS
$color-primary: #32569F;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-secondary: #048004;
// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #c4c4c4;
$color-grey-light-3: #494949;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-background: #ededed;
$color-white: #fff;
$color-black: #000;


$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

//Breakpoints
$extra-large-breakpoints: 120em;
$large-breakpoints: 99.2em;
$medium-breakpoints: 76.8em;
$small-breakpoints: 60em;


// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
