.AskQuestionForm {
  background: $color-white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

  width: 780px;
  height: 100%;
  // height: auto;

  &__Heading {
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #4b4b4b;

    &__Title {
      height: 5rem;
      // background:red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      color: #4b4b4b;

      font-weight: 600;
    }
  }
  &__Title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #4b4b4b;

    &__Heading {
      // height: 6rem;
      font-size: 2.3rem;
      font-weight: 600;
      padding: 0 1rem;
      letter-spacing: 0.07rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #4b4b4b;
    }
    &__HelperText {
      font-size: 1.5rem;
      color: $color-black;
      padding: 0 1rem;
      color: #4b4b4b;

      // background:green;
    }
  }
  &__TitleInput {
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem;
    &__Title {
      border: 2px solid lightgrey;
      border-radius: 5px;
      height: 5rem;
      width: 100%;
      padding: 0 1rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      outline: none;

      &__Logos {
        height: 4rem;
        width: 4rem;

        margin-left: -4rem;
      }
    }
    &__InputBox {
      height: 7rem;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &__Div {
        // width: 100px;
        width: 100%;
        display: flex;

        &__Select {
          width: 363 px;
          background: $color-white;
          width: 100%;
          border-radius: 5px;
          height: 5rem;
          //   flex: 1;
          display: flex;
          align-items: center;
          padding: 0px 1rem;
          border: 2px solid lightgrey;
          cursor: pointer;
          color: $color-grey-dark;
          &:last-child {
            // color: red;
            margin-left: 5px;
          }
        }
      }

      &__Title {
        background: #4b4b4b;
        border-radius: 5px;
        height: 5rem;
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;
        &:not(:first-child) {
          margin-left: 0.5rem;
        }
        &:not(:last-child) {
          margin-right: 0.5rem;
        }

        &__Box {
          width: 100%;
          height: 30rem;
          background: $color-grey-light-2;
          // border-radius:5px;
          position: absolute;
          top: 5.6rem;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          overflow-y: scroll;
          &__Topics {
            font-size: 2rem;
            color: $color-black;
            // background:red;
            height: 5rem;
            width: 95%;
            margin: 0.5rem 0;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.4rem 1rem;
            &:hover {
              cursor: pointer;
              background: $color-grey-light-1;
            }
          }
        }
        &__Input {
          font-size: 1.5rem;
          width: 100%;
          height: 5rem;
          border: none;
          outline: none;
          border-radius: 5px;
          padding-right: 3.5rem;
          // background: green;
          padding-left: 1rem;
        }
      }
      &__Footer {
        // background:green;
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 1rem;
        &__Button {
          height: 4rem;
          border-radius: 5px;
          padding: 0 1rem;
          flex: 0 0 20%;
          border: none;
          font-size: 1.5rem;

          font-weight: 600;
          background: $color-grey-light-2;
          // background:red;
          &:hover {
            cursor: pointer;
            background: $color-grey-light-1;
          }
        }
      }
    }
  }
  &__Body {
    // background:red;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__Heading {
      // background:red;
      width: 10rem;
      height: 4rem;
      font-size: 2.3rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 1rem;
      color: #4b4b4b;
    }
    &__Input {
      height: 25rem;
      border-radius: 5px;
      overflow-y: scroll;
      padding: 1rem;
      outline: none;
      color: #4b4b4b;
      font-size: 1.5rem;
      border: 5px;
      background-color: #e3e3e3;
      // border: 2px solid #717171;
      margin: 0 1rem;
    }
  }
  &__Footer {
    // background:;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    &__Button {
      height: 4rem;
      border-radius: 5px;
      margin-top: 2rem;
      padding: 0 1rem;
      border: none;
      font-size: 1.5rem;
      font-weight: 600;
      background: $color-primary;
      color: #f7f7f7;
      &:hover {
        cursor: pointer;
        box-shadow: inset 5em 5em rgba(0, 0, 0, 0.2);
      }
    }
  }
}