.ForgetPassword {
  margin: 2rem;
  display: flex;
  justify-content: center;
  &__InnerDiv {
    display: flex;
    border: 2px solid lightgrey;
    padding: 2rem;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    text-align: left;
    width: 30%;

    &__ConfirmImageDiv{
      margin-top: 10px;
    }

    &__Heading {
      color: $color-black;
      font-size: 26px;
    }

    &__Form {
      margin: 1rem 0;
      &__Heading {
        font-size: 16px;
      }
      &__Input {
        margin-top: 0.2rem;
        width: 100%;
        height: 4rem;
        font-size: 1.3rem;
        padding: 1rem;
      }

      &__Button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        background: $color-secondary;
        font-size: 1.9rem;
        color: $color-white;
        border-radius: 5px;
        border: none;
        outline: none;

        &:hover {
          cursor: pointer;
          background-color: darken($color-secondary, 5%);
        }
      }
    }
    &__text {
      font-size: 16px;
      margin-top: 1rem;
      text-align: left;
    }
  }
}
