.Auth {
  // background:black;
  height: 70rem;
  max-width: 120rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  &__Box {
    background: $color-white;
    max-width: 60rem;
    width: 60rem;
    min-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__Side {
    background: $color-primary;
    max-width: 60rem;
    width: 60rem;
    min-width: 30rem;
    @media only screen and (max-width: $small-breakpoints) {
      display: none;
    }
  }
}
