@media only screen and (max-width: 1092px) {
  html {
    // This defines what 1rem is
    font-size: 58%;
  }
}
@media only screen and (max-width: 976px) {
  html {
    // This defines what 1rem is
    font-size: 54%;
  }
}
@media only screen and (max-width: 919px) {
  html {
    // This defines what 1rem is
    font-size: 50%;
  }
}
