*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.Center {
  height: 100vh;
  width: 100vw;
  background: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center; }

.Auth__Box__Container {
  width: 43rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #494949; }

.Auth__Box__InputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: #494949; }
  .Auth__Box__InputBox__Name {
    width: 95%;
    display: flex;
    justify-content: space-between; }
    .Auth__Box__InputBox__Name__InputHandler {
      width: 46%; }
      .Auth__Box__InputBox__Name__InputHandler__Heading {
        font-weight: 600;
        height: 3rem;
        margin: 0.2rem 0;
        font-size: 1.7rem;
        display: flex;
        align-items: center; }
      .Auth__Box__InputBox__Name__InputHandler__Input {
        width: 100%;
        height: 4rem;
        font-size: 1.3rem;
        margin: 0.4rem 0;
        margin-bottom: 1rem;
        padding: 1rem;
        background: #F8F8F8;
        border: none;
        outline: none; }
  .Auth__Box__InputBox__Header {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.3rem 0;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Auth__Box__InputBox__InputHandler {
    width: 95%; }
    .Auth__Box__InputBox__InputHandler__Heading {
      font-weight: 600;
      height: 3rem;
      margin: 0.3rem 0;
      font-size: 1.7rem;
      display: flex;
      align-items: center; }
    .Auth__Box__InputBox__InputHandler__Input {
      width: 100%;
      height: 4rem;
      font-size: 1.3rem;
      margin: 0.5rem 0;
      padding: 1rem;
      background: #F8F8F8;
      border: none;
      margin-bottom: 1rem;
      outline: none; }
    .Auth__Box__InputBox__InputHandler__InputBox {
      width: 100%;
      height: 4rem;
      font-size: 1.3rem;
      margin: 0.3rem 0;
      background: green;
      border: none;
      outline: none;
      display: flex;
      align-items: center; }
      .Auth__Box__InputBox__InputHandler__InputBox__Input {
        width: 100%;
        height: 4rem;
        font-size: 1.3rem;
        padding: 1rem;
        background: #F8F8F8;
        border: none;
        outline: none; }
        .Auth__Box__InputBox__InputHandler__InputBox__Input__Password {
          padding-right: 3rem; }
      .Auth__Box__InputBox__InputHandler__InputBox__Logos {
        margin-left: -3rem;
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background: #F8F8F8; }
        .Auth__Box__InputBox__InputHandler__InputBox__Logos:hover {
          cursor: pointer; }
        .Auth__Box__InputBox__InputHandler__InputBox__Logos__Logo {
          height: 2.1rem;
          width: 2.1rem; }

.Auth__Box__Buttons {
  width: 100%;
  height: 6rem;
  margin: 0.3rem 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Auth__Box__Buttons__Button {
    width: 95%;
    height: 5rem;
    background: #048004;
    font-size: 1.9rem;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none; }
    .Auth__Box__Buttons__Button:hover {
      cursor: pointer;
      background-color: #036703; }

.Auth__Box__ForgotPassword {
  font-size: 1.7rem;
  color: #32569F;
  text-decoration: underline;
  margin: 1rem 0; }
  .Auth__Box__ForgotPassword:hover {
    cursor: pointer; }

.Auth__Box__Register {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: #494949;
  display: flex;
  align-items: center; }
  .Auth__Box__Register__Redirect {
    color: #048004;
    margin-left: 1rem; }
    .Auth__Box__Register__Redirect:hover {
      cursor: pointer;
      text-decoration: underline; }

.error_input {
  background-color: #ffeeee; }

.ForgetPassword {
  margin: 2rem;
  display: flex;
  justify-content: center; }
  .ForgetPassword__InnerDiv {
    display: flex;
    border: 2px solid lightgrey;
    padding: 2rem;
    flex-direction: column;
    text-align: left;
    width: 30%; }
    .ForgetPassword__InnerDiv__ConfirmImageDiv {
      margin-top: 10px; }
    .ForgetPassword__InnerDiv__Heading {
      color: #000;
      font-size: 26px; }
    .ForgetPassword__InnerDiv__Form {
      margin: 1rem 0; }
      .ForgetPassword__InnerDiv__Form__Heading {
        font-size: 16px; }
      .ForgetPassword__InnerDiv__Form__Input {
        margin-top: 0.2rem;
        width: 100%;
        height: 4rem;
        font-size: 1.3rem;
        padding: 1rem; }
      .ForgetPassword__InnerDiv__Form__Button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        background: #048004;
        font-size: 1.9rem;
        color: #fff;
        border-radius: 5px;
        border: none;
        outline: none; }
        .ForgetPassword__InnerDiv__Form__Button:hover {
          cursor: pointer;
          background-color: #036703; }
    .ForgetPassword__InnerDiv__text {
      font-size: 16px;
      margin-top: 1rem;
      text-align: left; }

.AskQuestionForm {
  background: #32569F;
  width: 100%;
  height: auto;
  border: 5px solid black; }
  .AskQuestionForm__Heading {
    width: 100%;
    border: 2px solid red;
    height: 7rem;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    color: #fff; }
    .AskQuestionForm__Heading__Title {
      height: 5rem;
      width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: #fff;
      font-weight: 600; }
  .AskQuestionForm__Title {
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #fff; }
    .AskQuestionForm__Title__Heading {
      height: 6rem;
      font-size: 2rem;
      font-weight: 600;
      padding: 0 1rem;
      width: 10rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff; }
    .AskQuestionForm__Title__HelperText {
      font-size: 1.6rem;
      color: #000;
      padding: 0 1rem;
      color: #fff; }
  .AskQuestionForm__TitleInput {
    height: 14rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 1rem; }
    .AskQuestionForm__TitleInput__Title {
      background: #fff;
      border-radius: 5px;
      height: 5rem;
      width: 100%;
      padding: 0 1rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      border: none;
      outline: none; }
      .AskQuestionForm__TitleInput__Title__Logos {
        height: 4rem;
        width: 4rem;
        margin-left: -4rem; }
    .AskQuestionForm__TitleInput__InputBox {
      height: 7rem;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .AskQuestionForm__TitleInput__InputBox__Div {
        display: flex; }
        .AskQuestionForm__TitleInput__InputBox__Div__Select {
          width: 500px;
          background: #fff;
          border-radius: 5px;
          height: 5rem;
          display: flex;
          align-items: center;
          padding: 0px 1rem;
          cursor: pointer;
          color: #777; }
          .AskQuestionForm__TitleInput__InputBox__Div__Select:last-child {
            margin-left: 5px; }
      .AskQuestionForm__TitleInput__InputBox__Title {
        background: #fff;
        border-radius: 5px;
        height: 5rem;
        flex: 1;
        display: flex;
        align-items: center;
        position: relative; }
        .AskQuestionForm__TitleInput__InputBox__Title:not(:first-child) {
          margin-left: 0.5rem; }
        .AskQuestionForm__TitleInput__InputBox__Title:not(:last-child) {
          margin-right: 0.5rem; }
        .AskQuestionForm__TitleInput__InputBox__Title__Box {
          width: 100%;
          height: 30rem;
          background: #C4C4C4;
          position: absolute;
          top: 5.6rem;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          overflow-y: scroll; }
          .AskQuestionForm__TitleInput__InputBox__Title__Box__Topics {
            font-size: 2rem;
            color: #000;
            height: 5rem;
            width: 95%;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.4rem 1rem; }
            .AskQuestionForm__TitleInput__InputBox__Title__Box__Topics:hover {
              cursor: pointer;
              background: #F8F8F8; }
        .AskQuestionForm__TitleInput__InputBox__Title__Input {
          font-size: 1.5rem;
          width: 100%;
          height: 5rem;
          border: none;
          outline: none;
          border-radius: 5px;
          padding-right: 3.5rem;
          padding-left: 1rem; }
        .AskQuestionForm__TitleInput__InputBox__Title__Logos {
          height: 3rem;
          width: 3rem;
          margin-left: -3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          outline: none;
          background: #fff; }
          .AskQuestionForm__TitleInput__InputBox__Title__Logos:hover {
            cursor: pointer; }
          .AskQuestionForm__TitleInput__InputBox__Title__Logos__Logo {
            height: 2.5rem;
            width: 2.5rem;
            background: #fff; }
  .AskQuestionForm__Body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .AskQuestionForm__Body__Heading {
      width: 10rem;
      height: 4rem;
      font-size: 1.7rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 1rem;
      color: #fff; }
    .AskQuestionForm__Body__Input {
      height: 40rem;
      padding: 1rem;
      border: none;
      outline: none;
      font-size: 1.5rem;
      border: 5px;
      margin: 0 1rem; }
  .AskQuestionForm__Footer {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem; }
    .AskQuestionForm__Footer__Button {
      height: 4rem;
      border-radius: 5px;
      padding: 0 1rem;
      border: none;
      font-size: 1.5rem;
      font-weight: 600;
      background: #C4C4C4; }
      .AskQuestionForm__Footer__Button:hover {
        cursor: pointer;
        background: #F8F8F8; }

.Auth {
  height: 70rem;
  max-width: 120rem;
  width: 120rem;
  min-width: 30rem;
  background: #048004;
  display: flex; }
  .Auth__Box {
    background: #fff;
    max-width: 60rem;
    width: 60rem;
    min-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .Auth__Side {
    background: #32569F;
    max-width: 60rem;
    width: 60rem;
    min-width: 30rem; }

.Profile {
  height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Profile__Box {
    width: 140rem;
    height: 125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .Profile__Box__Navbar {
      height: 10rem;
      width: 130rem;
      margin: 1rem 0;
      display: flex;
      align-items: center;
      justify-content: center; }
    .Profile__Box__Top {
      background: #32569F;
      width: 130rem;
      height: 50rem;
      margin-bottom: 2rem;
      display: flex; }
      .Profile__Box__Top__ImagesAndDatas {
        width: 35rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .Profile__Box__Top__ImagesAndDatas__Image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20rem;
          height: 20rem;
          margin-top: 4rem;
          margin-bottom: 0.5rem;
          background: #fff;
          border-radius: 50%; }
        .Profile__Box__Top__ImagesAndDatas__ProfileName {
          margin: 0.2rem 0;
          height: 5rem;
          font-size: 2rem;
          letter-spacing: 0.05rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff; }
        .Profile__Box__Top__ImagesAndDatas__Rating {
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center; }
          .Profile__Box__Top__ImagesAndDatas__Rating__Star {
            height: 3rem;
            width: 3rem;
            fill: gold;
            margin: 0 0.2rem; }
      .Profile__Box__Top__Information {
        width: 50rem;
        height: 100%;
        text-align: left;
        padding: 2rem;
        color: #fff; }
        .Profile__Box__Top__Information__Name {
          display: flex;
          justify-content: space-between;
          margin: 2rem 0; }
          .Profile__Box__Top__Information__Name__firstName {
            display: inline-block;
            width: 200px; }
          .Profile__Box__Top__Information__Name__firstName p {
            font-size: 14px;
            letter-spacing: 0.08rem;
            margin-bottom: 0.5rem; }
          .Profile__Box__Top__Information__Name__firstName h4 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.03rem;
            background-color: #fff;
            padding: 0 0.5rem;
            color: #000; }
          .Profile__Box__Top__Information__Name__lastName {
            width: 200px;
            display: inline-block; }
          .Profile__Box__Top__Information__Name__lastName p {
            font-size: 14px;
            letter-spacing: 0.08rem;
            margin-bottom: 0.1rem;
            margin-bottom: 0.5rem; }
          .Profile__Box__Top__Information__Name__lastName h4 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.03rem;
            background-color: #fff;
            padding: 0 0.5rem;
            color: #000; }
        .Profile__Box__Top__Information__BasicInfo {
          margin-bottom: 2rem; }
        .Profile__Box__Top__Information__BasicInfo p {
          font-size: 14px;
          letter-spacing: 0.08rem;
          margin-bottom: 0.1rem;
          margin-bottom: 0.5rem; }
        .Profile__Box__Top__Information__BasicInfo h4 {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.03rem;
          background-color: #fff;
          padding: 0 0.5rem;
          color: #000; }
      .Profile__Box__Top__Statistics {
        width: 450px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .Profile__Box__Top__Statistics__Botton {
          margin-top: 2rem; }
          .Profile__Box__Top__Statistics__Botton__Expertise, .Profile__Box__Top__Statistics__Botton__Wishes {
            margin-left: 2rem;
            border: none;
            padding: 6px 12px;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            font-weight: 600;
            letter-spacing: 0.09rem;
            cursor: pointer;
            transition: all 0.4s ease; }
            .Profile__Box__Top__Statistics__Botton__Expertise:hover, .Profile__Box__Top__Statistics__Botton__Wishes:hover {
              background-color: #fff;
              color: #32569F; }
        .Profile__Box__Top__Statistics__Div {
          width: 70%;
          padding: 2rem;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
          .Profile__Box__Top__Statistics__Div__Data p {
            font-size: 14px;
            letter-spacing: 0.08rem; }
          .Profile__Box__Top__Statistics__Div__Data h1 {
            font-weight: bold;
            font-size: 55px;
            line-height: 70px;
            color: #4f9b13; }
    .Profile__Box__Main {
      background: #C4C4C4;
      width: 130rem;
      height: 95rem;
      margin-bottom: 2rem;
      display: flex; }
      .Profile__Box__Main__Newsfeed {
        height: 100%;
        width: 90rem;
        overflow-y: scroll; }
        .Profile__Box__Main__Newsfeed__Div {
          background-color: #F8F8F8;
          color: #000;
          margin: 2rem;
          text-align: left;
          padding: 8px;
          border-radius: 5px; }
          .Profile__Box__Main__Newsfeed__Div__Header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0.7rem;
            justify-content: space-between; }
            .Profile__Box__Main__Newsfeed__Div__Header__Left {
              display: flex;
              flex-direction: row;
              align-items: center; }
              .Profile__Box__Main__Newsfeed__Div__Header__Left p {
                margin-left: 1rem;
                font-size: 18px; }
            .Profile__Box__Main__Newsfeed__Div__Header__Right {
              border: 2px solid lightgray;
              border-radius: 5px;
              padding: 4px 5px;
              display: flex;
              font-size: 12px; }
            .Profile__Box__Main__Newsfeed__Div__Header__image {
              height: 50px;
              width: 50px; }
          .Profile__Box__Main__Newsfeed__Div__InnerDiv {
            display: flex; }
            .Profile__Box__Main__Newsfeed__Div__InnerDiv__Votes {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              padding: 0rem 1rem;
              color: #777; }
              .Profile__Box__Main__Newsfeed__Div__InnerDiv__Votes__Up, .Profile__Box__Main__Newsfeed__Div__InnerDiv__Votes__Down {
                font-size: 50px !important;
                cursor: pointer; }
            .Profile__Box__Main__Newsfeed__Div__InnerDiv__Questions__Question {
              background-color: #C4C4C4;
              margin-bottom: 1rem;
              font-size: 14px;
              padding: 1px 8px; }
            .Profile__Box__Main__Newsfeed__Div__InnerDiv__Questions__QuestionDetails {
              font-size: 14px;
              padding: 1px 8px;
              background-color: #C4C4C4; }
      .Profile__Box__Main__SideInformation {
        height: 100%;
        width: 40rem;
        background: #32569F; }
        .Profile__Box__Main__SideInformation__Status {
          border: 2px solid black;
          background: #f6f6f6;
          margin: 1rem; }
          .Profile__Box__Main__SideInformation__Status__InnerDiv {
            background: #C4C4C4;
            padding: 0.5rem 0.5rem;
            display: flex;
            justify-content: space-between; }
            .Profile__Box__Main__SideInformation__Status__InnerDiv__Box {
              display: flex;
              flex-direction: column; }
              .Profile__Box__Main__SideInformation__Status__InnerDiv__Box__Header {
                font-size: 20px;
                color: #fff;
                height: 35px;
                width: 115px;
                padding: 1px 2px;
                margin-bottom: 1rem;
                background: #32569F;
                display: flex;
                justify-content: center;
                align-items: center; }
              .Profile__Box__Main__SideInformation__Status__InnerDiv__Box__Stats {
                height: 35px;
                font-size: 17px;
                color: #000;
                width: 115px;
                padding: 1px 2px;
                margin-bottom: 1rem;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75); }

.modal {
  position: fixed;
  padding: 1rem 2rem;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  max-height: 40rem;
  overflow: scroll;
  background-color: #32569F;
  color: #fff;
  overflow-x: hidden; }
  .modal__header {
    font-size: 20px;
    letter-spacing: 0.1rem;
    display: flex; }
  .modal__selects {
    margin-top: 1rem; }
    .modal__selects__header {
      display: flex;
      align-items: center; }
      .modal__selects__header__text {
        font-size: 24px; }
      .modal__selects__header__arrow {
        font-size: 28px !important;
        cursor: pointer; }
    .modal__selects__dropdown {
      border: 2px solid lightgrey;
      border-radius: 5px;
      margin: 0.5rem;
      padding: 1rem; }
      .modal__selects__dropdown__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem; }
        .modal__selects__dropdown__item__text {
          margin-left: 1rem;
          font-size: 20px; }
        .modal__selects__dropdown__item__checkbox {
          cursor: pointer; }
        .modal__selects__dropdown__item:last-child {
          margin-bottom: 0; }
  .modal__close {
    position: absolute;
    top: 7px;
    right: 6px;
    font-size: 26px !important;
    color: #fff;
    cursor: pointer; }

.header {
  background: #4f005f;
  padding: 1rem; }

.header h2 {
  margin: 0;
  color: white; }

.content {
  padding: 1rem; }

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end; }

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem; } }

.Navbar {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #32569F;
  width: 100%;
  display: flex;
  height: 6rem;
  justify-content: flex-end; }
  .Navbar__Links {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right; }
    .Navbar__Links__center {
      padding: 0rem 2rem; }
    .Navbar__Links__content {
      transition: all 0.4s ease;
      color: #fff;
      text-decoration: none;
      display: flex;
      position: relative; }
      .Navbar__Links__content__Notification {
        position: absolute;
        top: 5rem;
        left: -14.2rem;
        background: red; }
      .Navbar__Links__content__Icon {
        display: flex;
        justify-content: center;
        align-items: center; }
      .Navbar__Links__content__Avatar {
        position: relative;
        margin-left: 1.5rem; }
        .Navbar__Links__content__Avatar__Drop {
          position: absolute;
          top: 16px;
          left: 14px;
          color: #fff !important;
          font-size: 34px !important; }
    .Navbar__Links__content:hover {
      cursor: pointer;
      color: #9b9bf9; }

.HomePage {
  height: 100vh;
  display: flex;
  background-color: #ededed; }
  .HomePage__Left {
    background-color: #32569F;
    color: #fff;
    flex: 0.3;
    margin: 1rem 0;
    margin-left: 1rem; }
    .HomePage__Left__SideBar {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%; }
      .HomePage__Left__SideBar__Header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        width: 95%; }
        .HomePage__Left__SideBar__Header:hover {
          cursor: pointer; }
        .HomePage__Left__SideBar__Header p {
          margin-left: 1rem;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0.01rem; }
      .HomePage__Left__SideBar__Links {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; }
        .HomePage__Left__SideBar__Links__Link {
          font-size: 18px;
          width: 95%;
          margin-bottom: 1rem;
          padding: 1rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          transition: all 0.3s ease; }
          .HomePage__Left__SideBar__Links__Link:hover {
            cursor: pointer;
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); }
  .HomePage__Right {
    flex: 1;
    padding: 1rem; }
    .HomePage__Right__TopBar {
      height: 8.8vh; }
    .HomePage__Right__MainBody {
      display: flex;
      background-color: #fff;
      height: 90vh; }
      .HomePage__Right__MainBody__NewsFeed {
        flex: 1;
        overflow-y: scroll; }
      .HomePage__Right__MainBody__Notification {
        flex: 0 0 30rem; }
        .HomePage__Right__MainBody__Notification__Box {
          border: 2px solid lightgrey;
          text-align: left;
          padding: 0.9rem; }
          .HomePage__Right__MainBody__Notification__Box__Header {
            font-size: 18px;
            font-weight: 600;
            color: #000;
            margin-bottom: 1rem; }
            .HomePage__Right__MainBody__Notification__Box__Header__Underline {
              border: 1px solid lightgrey;
              margin-bottom: 1rem; }
          .HomePage__Right__MainBody__Notification__Box__InnerDiv {
            border: 2px solid lightgrey;
            border-radius: 5px;
            padding: 8px; }
            .HomePage__Right__MainBody__Notification__Box__InnerDiv__Underline {
              margin-top: 1rem;
              border-bottom: 2px solid lightgrey; }
            .HomePage__Right__MainBody__Notification__Box__InnerDiv__Header {
              display: flex;
              flex-direction: row;
              align-items: center; }
              .HomePage__Right__MainBody__Notification__Box__InnerDiv__Header__Div {
                margin-left: 7px; }
                .HomePage__Right__MainBody__Notification__Box__InnerDiv__Header__Div > p:first-child {
                  color: #000;
                  font-weight: 600;
                  font-size: 14px; }
            .HomePage__Right__MainBody__Notification__Box__InnerDiv__Button {
              display: flex;
              justify-content: flex-end;
              margin: 1rem 0rem; }
              .HomePage__Right__MainBody__Notification__Box__InnerDiv__Button__Accept {
                border: none;
                background-color: #32569F;
                color: #fff;
                font-size: 16px;
                padding: 7px 17px;
                width: 48%;
                border-radius: 5px; }
                .HomePage__Right__MainBody__Notification__Box__InnerDiv__Button__Accept:hover {
                  cursor: pointer; }
              .HomePage__Right__MainBody__Notification__Box__InnerDiv__Button__Decline {
                border: 2px solid lightgrey;
                background-color: transparent;
                color: #000;
                font-size: 16px;
                padding: 7px 17px;
                border-radius: 5px;
                width: 48%;
                margin-left: 2rem; }
                .HomePage__Right__MainBody__Notification__Box__InnerDiv__Button__Decline:hover {
                  cursor: pointer; }
        .HomePage__Right__MainBody__Notification__Below {
          display: flex;
          flex-direction: column;
          border: 2px solid lightgrey;
          margin-top: 1rem;
          padding: 0.8rem; }
          .HomePage__Right__MainBody__Notification__Below__Links {
            background-color: #32569F;
            color: #fff;
            font-size: 15px;
            padding: .5rem 1rem;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            height: 4rem;
            cursor: pointer;
            text-decoration: none; }
          .HomePage__Right__MainBody__Notification__Below button:last-child {
            cursor: pointer;
            background-color: transparent;
            font-weight: 600;
            color: #000;
            border: 2px solid lightgrey;
            font-size: 15px;
            padding: 6px 0px;
            height: 4rem;
            margin-top: 1rem;
            border-radius: 4px; }

.AskQuestion__Top {
  margin: 0 auto;
  padding: 1rem;
  height: 8rem;
  width: 140rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.AskQuestion__Main {
  height: auto;
  width: 140rem;
  margin: 0 auto;
  display: flex;
  padding: 1rem; }
  .AskQuestion__Main__Form {
    background: #32569F;
    flex: 1; }
  .AskQuestion__Main__Side {
    background: yellow;
    flex: 0 0 30%; }
