.Login__Box{
    &__Container{
        width:43rem;
        height:50rem;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        color:$color-grey-light-3;
        box-shadow:$shadow-light;
    }
    &__InputBox{
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height:auto;
        width:100%;
        color:$color-grey-light-3;
        &__Header{
            
            font-size:3rem;
            font-weight:600;
            margin:0.5rem 0;
            height:6rem;
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        &__InputHandler{
            width:95%;
            &__Heading{
                height:4rem;
                margin:0.5rem 0;
                font-size:1.7rem;
                display:flex;
                align-items: center;
                
            }
            &__Input{
                width:100%;
                height:5rem;
                font-size:1.3rem;
                margin:0.5rem 0;
                padding:1rem;
                background:$color-grey-light-1;
                border:none;
                outline:none;
            }
        }
        
    }
    &__Buttons{
        width:100%;
        height:6rem;
        margin:0.5rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__Button{
            width:95%;
            height:5rem;
            background:$color-secondary;
            font-size:1.9rem;
            color:$color-white;
            border:none;
            outline:none;
            &:hover{
                cursor:pointer;
            }
        }
    }

}