.Answered{
    height:auto;
    width: 100%;
    // background:red;
    display:flex;
    flex-direction: column;
    align-items: center;
    background:$color-white;
    &__Heading{
        
        font-size:2.5rem;
        font-weight:600;
        color:$color-black;
        margin-top: 1rem;
        
    }
    &__Newsfeed{
       height:auto;
       width:100%;
    }

}