.AskQuestion {
  padding-right: 1rem;

  height: 100vh;
  display: flex;
  overflow-y: hidden;
  &__Left {
    flex: 0.24;
  }
  &__Right {
    flex: 0.76;

    &__Bottom {
      display: flex;
      width: 100%;

      &__Left {
        flex: 0.7;

        &__Main {
          height: auto;

          margin: 0 auto;
          display: flex;
          padding: 1rem;
          &__Form {
            background: $color-primary;
            height: 61.7rem;
            flex: 1;
          }
        }
      }
      &__Right {
        border: 2px solid blue;
        margin-left: 1rem;
        flex: 0.3;
        width: 270px;
      }
    }
  }
}