.HomePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #ededed;
  position: relative;

  &__Left {
    background-color: $color-primary;
    color: $color-white;
    flex: 0.3;
    height: 98vh;
    width: 33rem;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem 0;
    margin-left: 1rem;

    &__SideBar {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: 100%;

      &__Header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
        width: 95%;
        &:hover {
          cursor: pointer;
          box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
        }
        & p {
          margin-left: 1rem;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0.01rem;
        }
      }

      &__Links {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__Link {
          font-size: 18px;
          width: 95%;
          margin-bottom: 1rem;
          padding: 1rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  &__Right {
    // flex: 1;
    // padding: 1rem;
    width:calc(100vw - 37rem) ;
    margin:1rem;
    position: fixed;
    height:98vh;
    top: 0;
    left: 34.5rem;
    &__TopBar {
      height: 7rem;
      width: 100%;
      // position: relative;
      // left: 350px;
    }
    &__MainBody {
      // position: relative;
      // left: 350px;
      display: flex;
      background-color: $color-white;
      width: 100%;
      height: calc(100% - 8rem);
      margin-top: 1rem;

      &__NewsFeed {
        flex: 1;
        overflow-y: scroll;

        // width: 8rem;
        // margin-right: 1rem;
      }
      &__Notification {
        flex: 0 0 30rem;

        &__Box {
          border: 2px solid lightgrey;
          // position: relative;
          text-align: left;
          padding: 0.9rem;
          height: 539px;
          overflow-y: scroll;

          &__Header {
            font-size: 18px;
            font-weight: 600;
            color: $color-black;
            margin-bottom: 1rem;
            &__Underline {
              border: 1px solid lightgrey;
              margin-bottom: 1rem;
            }
          }

          &__InnerDiv {
            border: 2px solid lightgrey;
            border-radius: 5px;
            padding: 8px;

            &__Underline {
              margin-top: 1rem;
              border-bottom: 2px solid lightgrey;
              margin-bottom: 1rem;
            }

            &__Header {
              display: flex;
              flex-direction: row;

              align-items: center;
              &__Div {
                margin-left: 7px;
                & > p:first-child {
                  color: $color-black;
                  font-weight: 600;
                  font-size: 13px;
                }
                & > p:last-child {
                  font-size: 13px;
                }
              }
            }

            &__Button {
              //   border: 2px solid black;
              display: flex;
              justify-content: flex-end;
              margin: 1rem 0rem;

              &__Accept {
                border: none;
                background-color: $color-primary;
                color: $color-white;
                font-size: 16px;
                padding: 7px 17px;
                width: 28%;
                border-radius: 5px;
                &:hover {
                  cursor: pointer;
                }
              }
              &__Decline {
                border: 2px solid lightgrey;
                background-color: transparent;
                color: $color-black;
                font-size: 16px;
                padding: 7px 17px;
                border-radius: 5px;
                width: 28%;
                margin-left: 2rem;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }

        &__Below {
          display: flex;
          flex-direction: column;
          border: 2px solid lightgrey;
          margin-top: 1rem;
          padding: 0.8rem;
          &__Links {
            background-color: $color-primary;
            color: $color-white;
            font-size: 15px;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 4px;
            font-weight: 600;
            height: 4rem;
            cursor: pointer;
            text-decoration: none;
          }
          & button:last-child {
            cursor: pointer;
            background-color: transparent;
            font-weight: 600;
            color: $color-black;
            border: 2px solid lightgrey;
            font-size: 15px;
            padding: 6px 0px;
            height: 4rem;
            margin-top: 1rem;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
