.Navbar {
  font-size: 18px;
  font-weight: 600;

  color: $color-white;
  background-color: $color-primary;
  width: 100%;
  display: flex;
  height: 9rem;
  justify-content: flex-end;
  margin-bottom:3rem;
  

  &__Links {
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    // width: 150px;

    &__center {
      padding: 0rem 2rem;
    }
    &__content {
      transition: all 0.4s ease;
      color: $color-white;
      text-decoration: none;
      display: flex;
      &__Avatar {
        position: relative;
        margin-left: 1.5rem;
        &__Drop {
          position: absolute;

          top: 16px;
          left: 14px;
          color: $color-white !important;
          font-size: 34px !important;
        }
      }
    }
    &__content:hover {
      cursor: pointer;
      color: rgb(155, 155, 249);
    }
  }
}
