.Profile {
  height: 163rem;
  width: 100vw;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Box {
    width: 140rem;
    height: 125rem;
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: green;
    &__Top {
      background: $color-primary;
      width: 130rem;
      height: 50rem;
      margin-bottom: 5rem;
      display: flex;
      &__ImagesAndDatas {
        width: 35rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__Image {
          width: 20rem;
          height: 20rem;
          margin-top: 4rem;
          margin-bottom: 0.5rem;
          background: $color-white;
          border-radius: 50%;
        }
        &__ProfileName {
          margin: 0.2rem 0;
          height: 5rem;

          font-size: 2rem;
          letter-spacing: 0.05rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-white;
        }
        &__Rating {
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &__Star {
            // border: 2px solid red;
            height: 3rem;
            width: 3rem;
            fill: gold;
            margin: 0 0.2rem;
          }
        }
      }
      &__Information {
        width: 50rem;
        height: 100%;
        text-align: left;
        padding: 2rem;
        color: $color-white;

        &__Name {
          display: flex;
          justify-content: space-between;
          margin: 2rem 0;

          &__firstName {
            display: inline-block;

            width: 200px;
          }
          &__firstName p {
            font-size: 14px;
            letter-spacing: 0.08rem;
            margin-bottom: 0.5rem;
          }
          &__firstName h4 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.03rem;
            background-color: $color-white;
            padding: 0 0.5rem;
            color: $color-black;
          }

          &__lastName {
            width: 200px;
            display: inline-block;
          }
          &__lastName p {
            font-size: 14px;
            letter-spacing: 0.08rem;
            margin-bottom: 0.1rem;
            margin-bottom: 0.5rem;
          }
          &__lastName h4 {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.03rem;
            background-color: $color-white;
            padding: 0 0.5rem;
            color: $color-black;
          }
        }

        &__BasicInfo {
          margin-bottom: 2rem;
        }
        &__BasicInfo p {
          font-size: 14px;
          letter-spacing: 0.08rem;
          margin-bottom: 0.1rem;
          margin-bottom: 0.5rem;
        }
        &__BasicInfo h4 {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.03rem;
          background-color: $color-white;
          padding: 0 0.5rem;
          color: $color-black;
        }
      }
      &__Statistics {
        width: 450px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__Div {
          width: 70%;
          padding: 2rem;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          &__Data p {
            font-size: 14px;
            letter-spacing: 0.08rem;
          }
          &__Data h1 {
            font-weight: bold;
            font-size: 55px;
            line-height: 70px;

            color: #4f9b13;
          }
        }
      }
    }
    &__Main {
      background: $color-grey-light-2;
      width: 130rem;
      height: 95rem;
      margin-bottom: 5rem;
      display: flex;
      &__Newsfeed {
        height: 100%;
        width: 90rem;
        background: red;
      }
      &__SideInformation {
        height: 100%;
        width: 40rem;
        background: $color-primary;
        &__Status {
          border: 2px solid black;
          background: #f6f6f6;

          margin: 1rem;
          &__InnerDiv {
            background: $color-grey-light-2;
            padding: 0.5rem 0.5rem;
            display: flex;
            justify-content: space-between;
            &__Box {
              display: flex;
              flex-direction: column;
              &__Header {
                font-size: 20px;
                color: $color-white;
                height: 35px;
                width: 115px;
                padding: 1px 2px;
                margin-bottom: 1rem;
                background: $color-primary;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              &__Stats {
                height: 35px;
                font-size: 17px;
                color: $color-black;
                width: 115px;
                padding: 1px 2px;
                margin-bottom: 1rem;
                background: $color-white;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}
