/*---------- star rating ----------*/
%flex-display {
    display: flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 3em;
    justify-content: center;
    margin: 1rem 0;
    &:hover{
        cursor:pointer;
    }
}
.back-stars {
    @extend %flex-display;
    position: relative;
    color:$color-grey-light-3;
    &:hover{
        cursor:pointer;
    }
}
.front-stars {
    @extend %flex-display;
    color: #FFBC0B;
    overflow: hidden;
    position: absolute; 
    top: 0;
    transition: all .5s;
    &:hover{
        cursor:pointer;
    }
}